<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>ctrl-point.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>55</string>
	<key>CTRLElectricalIcons</key>
	<array>
		<string>fixtureTypeElectricalSwitch</string>
		<string>fixtureTypeElectricalSwitchThreeWay</string>
		<string>fixtureTypeElectricalSwitchFourWay</string>
		<string>fixtureTypeElectricalSingleplexOutlet</string>
		<string>fixtureTypeElectricalDuplexOutlet</string>
		<string>fixtureTypeElectricalSwitchedOutlet</string>
		<string>fixtureTypeElectricalGFCI</string>
		<string>fixtureTypeElectricalFourOutlet</string>
		<string>fixtureTypeElectrical240vOutlet</string>
		<string>fixtureTypeElectricalCeilingMountedLight</string>
		<string>fixtureTypeElectricalRecessedLight</string>
		<string>fixtureTypeElectricalWallMountedLight</string>
		<string>fixtureTypeElectricalCeilingFan</string>
		<string>fixtureTypeElectricalCeilingFanWithLight</string>
		<string>fixtureTypeElectricalSmokeDetector</string>
	</array>
	<key>CTRLLaymenIcons</key>
	<array>
		<string>fixtureTypeLaymanSwitch</string>
		<string>fixtureTypeLaymanSwitchThreeWay</string>
		<string>fixtureTypeLaymanSwitchFourWay</string>
		<string>fixtureTypeLaymanSingleplexOutlet</string>
		<string>fixtureTypeLaymanDuplexOutlet</string>
		<string>fixtureTypeLaymanSwitchedOutlet</string>
		<string>fixtureTypeLaymanGFCIOutlet</string>
		<string>fixtureTypeLaymanFourOutlet</string>
		<string>fixtureTypeLayman240vOutlet</string>
		<string>fixtureTypeLaymanCeilingMountedLight</string>
		<string>fixtureTypeLaymanRecessedLight</string>
		<string>fixtureTypeLaymanWallMountedLight</string>
		<string>fixtureTypeLaymanCeilingFan</string>
		<string>fixtureTypeLaymanExhaustFan</string>
		<string>fixtureTypeLaymanSmokeDetector</string>
	</array>
	<key>CTRLRoomNameSeeds</key>
	<array>
		<string>Atrium</string>
		<string>Attic</string>
		<string>Alcove</string>
		<string>Basement</string>
		<string>Bathroom</string>
		<string>Bedroom</string>
		<string>Cellar</string>
		<string>Den</string>
		<string>Dining Room</string>
		<string>Family Room</string>
		<string>Foyer</string>
		<string>Garage</string>
		<string>Hallway</string>
		<string>Kitchen</string>
		<string>Laundry Room</string>
		<string>Library</string>
		<string>Living Room</string>
		<string>Loft</string>
		<string>Nook</string>
		<string>Office</string>
		<string>Pantry</string>
		<string>Patio</string>
		<string>Stairwell</string>
		<string>Study</string>
		<string>Sunroom</string>
		<string>Workshop</string>
		<string>Pool</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
